.validationPage{
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.validationPage{
    text-align: center;
    margin-bottom: 5vh;
}
.encloseValidationContents, .validationPage .buttons{
    width: 80%;
    min-width: 280px;
    margin-right: auto;
    margin-left: auto;
}
.validationPage .buttons{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}
.validationPage .buttons ._contact{
    float: right;
}